
.aboutme{
  display:flex;
    width: 1920px;
    height: 1080px;
   

}
.aa{
  width: 390px;
  height:1080px;
  background-color: bisque;
  background-image: url("../img/lovely-veg.jpg");
}
.bb{
  display:flex;
  width:1140px;
  height:1080px;
  background-image: url("../img/earth01.jpg");
  background-position: center;
}
.cc{
  width: 390px;
  height:1080px;
 
  
}
.cca{
  width: 390px;
  height: 540px;
}
.ccb{
  width: 390px;
  height: 540px;
  background-image: url("../img/gif01.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 50%;
}
.bba{
  width: 500px;
  height: 1080px;
}
.bbc{
  width:640px;
  height:1080px ;
}
.myMOUSE{ cursor: pointer; }