/* mneuunder */
h1 {
    font: 700 36px 'Oswald', sans-serif;
    text-align: center;
    color: #000;
  }
  
  .header-span {
    display: block;
    font-weight: 100;
  }
  
  .all-the-foods {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
  }
  
  div.clip-path-container {
    display: inline-block;
    position: relative;
    height: 300px;
    width: 300px;
    margin: 10px ;
    padding: 3px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;  
    border-radius: 50%;
    border-collapse: separate; 
    background-color: #222;
  }
  
  .clip-path-container:focus,
  .clip-path-container:active,
  .clip-path-container:hover {
    border-radius: 50%;
    outline: none;
  } 
  
  .food {
    height: 250px;
    width: 250px;
    background-size: cover;
    transition: all .2s ease-in-out;
    transform: scale(1.7); 
    outline: none;
    overflow: hidden;  
    clip-path: polygon(0 100%, 0 0, 52% 0, 52% 100%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  }
  
  
  .clip-path-container:hover .food {
    clip-path: polygon(50% 100%, 50% 0, 100% 0, 100% 100%);
    transform: scale(1.1);
    
  }
  
  .clip-path-container:hover .description-holder { 
    left: 20px;
    opacity: 1;
  }
  
  .description-holder {
    position: absolute;
    top: 35px;
    left: 120px;
    height: 300px;
    width: 100px;
    transition: all .4s ease-in-out;
    transition-delay: .1s;
    opacity: 0;
    text-align: right;
  }
  
  .guac-holder {
    top: 45px;
  }
  
  .description-holder h4 {
    font-size: 14px;
    margin-bottom: -8px;
  }
  
  .description-holder p {
    max-width: 100px;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
    
  }
  
  .surface {
    background-image: url('../img/01.jpg');
    background-position: 0 0;
  }
  
  .rice {
    background-image: url('../img/02.jpg');
  }
  .fried {
    background-image: url('../img/06.jpg');
    background-position: 50% 90%;
  }
  
  
  .korea{
    background-image: url('../img/04.jpg');
    background-position: 50% 90%;
  }
  
  .hotpot {
    background-image: url('../img/05.jpg');
    background-position: 50% 70%;
  }
  
  .convenient {
    background-image: url("../img/03.jpg");
  }
  /* menuup */